<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a graduate from
      <a class="underline-link" href="https://www.benilde.edu.ph/" target="_blank">De La Salle–College of Saint Benilde</a>  with a degree in Interactive Entertainment and Multimedia Computing (a fancy term to call Video Game Development).
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm reading books on my kindle, learning graphics programming, or probably playing a game or two.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
