<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project nightshift">
      <figure class="project__pic">
        <a href="https://spacemonke-games.itch.io/st-castro-plaza-night-shift" target="_blank">
          <img src="{{site.baseurl}}/img/featured/night-shift/NightShiftMenu.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://spacemonke-games.itch.io/st-castro-plaza-night-shift" target="_blank">St. Castro Plaza: Night Shift</a>
        </div>
        <p>You are a guard on night shift that needs to do their guard duty of closing up shops that some store owners left open after closing hours. Can you survive the Night Shift?</p>
        <a class="small" href="https://www.philstar.com/sports/2023/10/24/2306222/these-filipino-horror-games-come-just-time-halloween" target="_blank"> 📰 We were featured in the local news! 📰</a>
      </figcaption>
    </div>

    <div class="project screenman">
      <figure class="project__pic">
        <a href="https://rokkit.itch.io/the-screen-man" target="_blank">
          <img src="{{site.baseurl}}/img/featured/screen-man/ScreenManMenu.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://rokkit.itch.io/the-screen-man" target="_blank">The Screen Man</a>
        </div>
        <p>The Screen Man is a 3D atmospheric horror game where the player controls the protagonist who must traverse a maze while avoiding the figure known as the titularly named "Screen Man". Can you escape this twisted screen-filled nightmare?</p>
      </figcaption>
    </div>

    <!-- <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div> -->
  </div>
</section>
